.main-section {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.main-dashboard {
  display: grid;
  height: calc(100vh - var(--header-height) - 5px);
  width: 80%;
  margin: 0 auto;
  grid-template-areas:
    "header header header "
    "summary summary rooms"
    "perf perf rooms"
    "stat stat status";
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.summary {
  grid-area: summary;
}

.performance {
  grid-area: perf;
}

.statistics {
  grid-area: stat;
}

.rooms-status {
  grid-area: status;
}

.rooms {
  grid-area: rooms;
}

.grid-header {
  grid-area: header;
}

.header {
  height: var(--header-height);
  padding: 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: row;
}
