.rooms-section {
  margin: var(--header-secondary__margin);
}

.section-header {
  font-size: 1.8rem;
  color: #555;
}

.rooms-details {
  margin: 1rem;
}

.rooms-details__stats {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

/* PROGRESS BAR */
.progress-bar {
  width: 100%;
  background-color: #ddd;
  height: 0.7rem;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  background-color: #2f7beb;
  height: 100%;
  width: 70%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.rooms-details__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rooms-details__label {
  font-size: 1.4rem;
  padding-left: 1px;
}

.rooms-details__number {
  padding-right: 1rem;
  font-size: 1.3rem;
}

.rooms-details__header {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
